<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  {{!-- linked css file --}}
  <link rel='stylesheet' href='/stylesheets/style.css' />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
<h1 class="welcome-message">Welcome to Online Grocery App</h1>
  <h4>Grocery Shopping Made Easy, Anytime, Anywhere!</h4>

  <a href="/users/register" class="btn btn-primary btn-lg mt-4">Register</a>
  <a href="/users/login" class="btn btn-outline-secondary btn-lg mt-4">Log In</a>

 <section class="category">

    <!-- different categories of the product -->
    <h1 class="title"> EXCLUSIVE <span>CATEGORIES</span>  </h1>
    
    <div class="box-container">
    
        <a href="#" class="box">
            <img decoding="async" src="images/fruits3.jpeg" alt="">
            <h3>Fruits</h3>
        </a>
    
        <a href="#" class="box">
            <img decoding="async" src="images/vegetables1.jpeg" alt="">
            <h3>Vegetables</h3>
        </a>
    
        <a href="#" class="box">
            <img decoding="async" src="images/dairy1.jpeg" alt="">
            <h3>Dairy</h3>
        </a>
    
        <a href="#" class="box">
            <img decoding="async" src="images/bakery1.jpeg" alt="">
            <h3>Bakery</h3>
        </a>
    
    
    </div>
    
    </section>

</body>
</html>
