<h2>Login</h2>

<!-- Display error or success messages -->
{{#if messages.error}}
  <div class="alert alert-danger">{{messages.error}}</div>
{{/if}}


{{#if flash.success}}
  <div class="alert alert-success">{{flash.success}}</div>
{{/if}}

{{!-- login form --}}
<form action="/users/login" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
