<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
      <link rel='stylesheet' href='/stylesheets/style.css' />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
<h1 class="welcome-message">Welcome to Online Grocery App</h1>
  <h4>Shop your groceries with ease.</h4>

  <a href="/users/register" class="btn btn-primary btn-lg mt-4">Get Started</a>
  <a href="/users/login" class="btn btn-outline-secondary btn-lg mt-4">Log In</a>
</body>
</html>
