
<body>
<section class="con1">
<div class="container">
<div class="contactinfo">

<div>
<h2>Contact Info</h2>
<ul class="info">

<li>
<span><img src="https://cdn-icons-png.flaticon.com/512/3595/3595587.png"></span>
<span>#61 Bruel Road<br>
Mississuage, CA<br>
90013</span>
</li>

<li>
<span><img src="https://img.favpng.com/3/2/16/contact-icon-png-favpng-h8jCPVH0U9eSdkCwr53J9yT2C.jpg"></span>
<span>movetoheaven@gmail.com</span>
</li>

<li>
<span><img src="https://e7.pngegg.com/pngimages/670/44/png-clipart-telephone-computer-icons-facebook-email-whatsapp-address-phone-instagram-ic-miscellaneous-text.png"></span>
<span>437-588-4032</span>
</li>
</ul>
</div>

<ul class="sci">
<li><a href="#"><img src="https://1000logos.net/wp-content/uploads/2016/11/fb-logo.jpg" alt="image1" height="80px" width="50px"></a></li>

<li><a href="#"><img src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg" alt="image2" height="80px" width="50px"></a></li>

<li><a href="#"><img src="https://static.vecteezy.com/system/resources/previews/002/534/045/original/social-media-twitter-logo-blue-isolated-free-vector.jpg" alt="image3" height="80px" width="50px"></a></li>

<li><a href="#"><img src="https://1000logos.net/wp-content/uploads/2018/05/Gmail-Logo.jpg" alt="image4" height="80px" width="50px"></a></li>

<!-- <li><a href="#">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/800px-LinkedIn_logo_initials.png" alt="image5" height="80px" width="50px"></a></li> -->
</ul>
</div>

<div class="contactForm">
<h2>Send a Message</h2>

<div class="formBox">
<div class="inputBox w50">
<input type="text" name="" required>
<span> First Name</span>
</div>

<div class="inputBox w50">
<input type="text" name="" required>
<span> Last Name</span>
</div>

<div class="inputBox w50">
<input type="text" name="" required>
<span> Email Address</span>
</div>
<div class="inputBox w50">
<input type="text" name="" required>
<span> Mobile Number</span>
</div>

<div class="inputBox w100">
<textarea name="" required></textarea>
<span>Write your message here...</span>
</div>
<div class="inputBox w100">
<input type="submit" value="send">
</div>
</div>
</div>
</div>
</section>
</body>
