<body>
  <section class="home-content">
  <h1> Hi,  I'm <strong>Komalpreet Kaur</strong></h1>
  <p> a passionate <em>Computer Programming</em> student at Georgian College.
  I enjoy exploring the world of technology, creating elegant code, and solving problems that make a difference. 
  </p>
  
  
  
<!-- Button Section -->
<div class="button-container">
  <button type="button" class="bts">About Me</button>
  <button type="button" class="btn">Contact</button>
</div>
</section>

 <script>
    //  the class names to add event listeners
    document.querySelector('.btn').addEventListener('click', () => {
      window.location.href = '/contactme'; 
    });

    document.querySelector('.bts').addEventListener('click', () => {
      window.location.href = '/aboutme';
    });
  </script>

<!--  Image Section -->
  <div class="profile-picture-container">
    <img src="../images/profile.jpg" alt="Komalpreet Kaur" class="profile-picture">
  </div>

<section class="footer">
  <div class="box-container">
    <div class="box">
      <h4>Follow me</h4>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/komalpreet-kaur-73659a28a/"><i class="fab fa-linkedin"></i> LinkedIn</a>
        <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
      </div>
    </div>
  </div>

  

</body>
