<section class="products">
    
        <h1 class="title"> PROJECTS <span>SHOWCASE</span></h1>
    
        <div class="box-container">
    
            <div class="box">
                
                <div class="img">
                    <img decoding="async" src="../images/A1.png" alt="">
                </div>
                <div class="content">
                    <h3>Cake Bakery Website </h3>
                    <div class="description">A visually appealing website showcasing a variety of cakes with ordering options and customer reviews.</div>
                    <a href="https://github.com/Komalpreet101104/FINAL-PROJECT/tree/main/CAKE" target="_blank">
                    <button class="view">View</button>
                </a>

                 
                </div>
            </div>
    
            <div class="box">
                
                <div class="img">
                    <img decoding="async" src="../images/A3.png" alt="">
                </div>
                <div class="content">
                    <h3>Intersteller Movie Poster </h3>
                    <div class="description">A creative webpage displaying iconic movie posters with brief descriptions and release dates.
                    </div>
                    <a href="https://github.com/Komalpreet101104/Projects/tree/main/Poster" target="_blank">
                    <button class="view">View</button>
                </a>

                    
                </div>
            </div>
    
            <div class="box">
                
                <div class="img">
                    <img decoding="async" src="../images/A2.png" alt="">
                </div>
                <div class="content">
                    <h3>Retro Product Website</h3>
                    <div class="description">A unique e-commerce platform featuring vintage and retro-themed products with purchase options.</div>
<a href="https://github.com/Komalpreet101104/Projects/tree/main/ASSIGNMENT
" target="_blank">
                    <button class="view">View</button>
                </a>
                    
                </div>
            </div>
    
            <div class="box">
                
                <div class="img">
                    <img decoding="async" src="../images/A4.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Photo Studio Webpage.</h3>
                    <div class="description">A sleek website for a photography studio, featuring portfolio galleries, booking options, and client testimonials.</div>
<a href="https://github.com/Komalpreet101104/Projects/tree/main/ASSIGNMENT
" target="_blank">
                    <button class="view">View</button>
                </a>
                   
                </div>
            </div>
            </div>
    </section>