body {
  padding: 50px;
  background-color: rgb(254, 246, 253);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}


/* Styling the navbar */
.navbar-custom {
  background-color: #5c1852; 
}


.navbar-nav .nav-item .nav-link {
  color: white;  
  font-size: 18px;  
  padding: 10px 15px;  
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #aa86ae; 
  color: white;  
  border-radius: 4px; 
}

.navbar .container-fluid {
  padding-left: 20px;
  padding-right: 20px; 
}

.navbar-nav .nav-item .nav-link {
  font-weight: 500; 
}


.btn-primary {
  background-color: #5c1852; 
  border-color: #5c1852;
}

.btn-primary:hover{
  background-color: #aa86ae;
}

.btn-outline-secondary {
  border-color: #040404; 
  color: #080808;
}

.btn-outline-secondary:hover {
  background-color: #aa86ae; 
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  background-color: #aa86ae; 
  color: white;
}

.btn-outline-secondary:active, .btn-outline-secondary:focus {
  background-color: #aa86ae; 
  color: white;
}

.welcome-message {
  margin-bottom: 20px; 
  margin-top: 60px; 
}

.category .box-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap:1.5rem;
  padding:0 2rem;
}

.category .box-container .box img
{
  transition: transform 0.3s ease-in-out;
}

.category .box-container .box:hover img
{
  transform: scale(1.1); 
}

.category .box-container a {
  text-decoration: none;
}

.category .box-container .box{
  text-align:center;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
  border:0.1rem solid rgba(0, 0, 0, 0.096);
  border-radius:5px ;
  overflow: hidden;

}

.category .box-container .box img{
  height:12rem;
  width:16.6rem;
}

.category .box-container .box h3{
  font-size: 1.5rem;
  margin: 1rem 0rem;
  color: #222;
}

.category .box-container .box:hover h3{
  color: #720b53;
}

.title{
  margin-top: 70px;
}

.footer {
  background-color: #5c1852;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 70px;
}
.footer .footer-content p {
  margin: 5px 0;
}